<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Container Workshop01</title>
  </head>
  <body>
      <h1>Container Workshop01</h1>
  <br>
      <img src="background.png" alt="" style="border: 5px inset black;">
      <!--<h2>QOTD : {{quotelist}}</h2>-->
	{{#if quotelist}}
		<h2>{{ quotelist }}</h2>
	{{/if}}
	<i>https://github.com/JT-STE/jtrepo.git</i>
  </body>
<html>
